html,
body {
  height: 100%;
  margin: 0;
}

html {
  background-color: black;
  font-size: 10px;
}

body {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 120px 100px;
  grid-auto-columns: 100px;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "top1 top2 top3 top4"
    "num1 num2 num3 num4"
    "bot1 bot2 bot3 bot4";
}

.top1 {
  grid-area: top1;
}

.top2 {
  grid-area: top2;
}

.top3 {
  grid-area: top3;
}

.top4 {
  grid-area: top4;
}

.num1 {
  grid-area: num1;
}

.num2 {
  grid-area: num2;
}

.num3 {
  grid-area: num3;
}

.num4 {
  grid-area: num4;
}

.bot1 {
  grid-area: bot1;
}

.bot2 {
  grid-area: bot2;
}

.bot3 {
  grid-area: bot3;
}

.bot4 {
  grid-area: bot4;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  text-align: center;
  user-select: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
}

.lockContainer {
  width: 400px;
  height: 228px;
  margin: 0 auto;
  padding: 10px;
  border: 2px #000 solid;
  border-radius: 5px;
  user-select: none;
  background: linear-gradient(
    to bottom,
    rgba(51, 51, 51, 1) 0%,
    rgba(17, 17, 17, 1) 51%,
    rgba(51, 51, 51, 1) 100%
  );
}

.lockDigitContainer {
  float: left;
  width: 70px;
  height: 198px;
  margin: 10px;
  border: 5px #000 solid;
  text-align: center;
  border-radius: 5px;
  background-color: #000;
  box-shadow: 10px 4px 8px #111;
  color: #000;
  cursor: pointer;
}

.lockDigit {
  height: 60px;
  line-height: 60px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 2px;
}

.lockDigitPrev {
  margin-bottom: 4px;
  background: linear-gradient(
    to bottom,
    rgba(17, 17, 17, 1) 0%,
    rgba(238, 238, 238, 1) 90%,
    rgba(102, 102, 102, 1) 90%,
    rgba(102, 102, 102, 1) 100%
  );
}

.lockDigitCur {
  height: 70px;
  line-height: 70px;
  background: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 1) 0%,
    rgba(238, 238, 238, 1) 9%,
    rgba(204, 204, 204, 1) 9%,
    rgba(238, 238, 238, 1) 50%,
    rgba(204, 204, 204, 1) 72%,
    rgba(17, 17, 17, 1) 100%
  );
}

.lockDigitNext {
  margin-top: 4px;
  background: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 1) 0%,
    rgba(238, 238, 238, 1) 9%,
    rgba(204, 204, 204, 1) 9%,
    rgba(17, 17, 17, 1) 100%
  );
}

.lockDigitContainer.depressed .lockDigitPrev {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(204, 204, 204, 1) 90%,
    rgba(51, 51, 51, 1) 90%,
    rgba(51, 51, 51, 1) 100%
  );
}

.lockDigitContainer.depressed .lockDigitCur {
  background: linear-gradient(
    to bottom,
    rgba(204, 204, 204, 1) 0%,
    rgba(204, 204, 204, 1) 9%,
    rgba(170, 170, 170, 1) 9%,
    rgba(204, 204, 204, 1) 50%,
    rgba(170, 170, 170, 1) 72%,
    rgba(0, 0, 0, 1) 100%
  );
}

.lockDigitContainer.depressed .lockDigitNext {
  background: linear-gradient(
    to bottom,
    rgba(204, 204, 204, 1) 0%,
    rgba(204, 204, 204, 1) 9%,
    rgba(170, 170, 170, 1) 9%,
    rgba(0, 0, 0, 1) 100%
  );
}
